<%- include('./partials/head') %>

<main>
  <section class="profile-card">
    <!-- card header -->
    <div class="card-header">
      <div class="card-cover"></div>
      <img class="card-avatar" src="./assets/profile-pic.png" alt="avatar">
      <h1><%= data.name %></h1>
      <p class="sub-header">Frontend developer</p>
    </div>

    <!-- card content -->
    <div class="card-content" id="card-about">
      <h2>Bio</h2>
      <p><%= data.bio %></p>
    </div>

    <div class="card-content" id="card-skills">
      <h2>Skills</h2>
      <ul>
        <li>
          <p>HTML</p>
          <div class="progress-bar">
            <div class="progress-value" data-value="85"></div>
          </div>
        </li>
        <li>
          <p>CSS</p>
          <div class="progress-bar">
            <div class="progress-value" data-value="80"></div>
          </div>
        </li>
        <li>
          <p>Javascript</p>
          <div class="progress-bar">
            <div class="progress-value" data-value="70"></div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-content" id="card-details">
      <h2>Details</h2>
      <ul>
        <li><p>Nickname: <span><%= data.nickname %></span></p></li>
        <li><p>Github handle: <span><%= data.github_handle %></span></p></li>
        <li><p>Role: <span><%= data.role %></span></p></li>
        <li><p>Email: <span><%= data.email %></span></p></li>
        <li><p>Phone: <span><%= data.phone_number %></span></p></li>
        <li><p>Squad: <span><%= data.squad_id %></span></p></li>
      </ul>

      <a class="btn" href="<%= data.website %>">Github Profile</a>
    </div>

    <!-- card nav -->
    <ul class="card-nav">
      <li>About</li>
      <li>Skills</li>
      <li>Details</li>
    </ul>
  </section>
</main>

<%- include('./partials/foot') %>
