<%- include('./partials/head') %>

<main>
  <section class="profile-card card-scale">
    <!-- card header -->
    <div class="card-header">
      <div class="card-cover"></div>
      <img class="card-avatar" src="./assets/profile-pic.png" alt="avatar">
      <h1><%= person.data.name %></h1>
      <p class="sub-header">Frontend developer</p>
    </div>

    <!-- content: card about -->
    <div class="card-content content-slide" id="card-about">
      <h2>Bio</h2>
      <p><%= person.data.bio %></p>
    </div>

    <!-- content: card skills -->
    <div class="card-content content-slide" id="card-skills">
      <h2>Skills</h2>
      <ul class="progress-list">
        <li>
          <p><i class="fa-brands fa-html5"></i> HTML</p>
          <div class="progress-bar">
            <div class="progress-value" data-value="85"></div>
          </div>
        </li>
        <li>
          <p><i class="fa-brands fa-css3-alt"></i> CSS</p>
          <div class="progress-bar">
            <div class="progress-value" data-value="80"></div>
          </div>
        </li>
        <li>
          <p><i class="fa-brands fa-js"></i> Javascript</p>
          <div class="progress-bar">
            <div class="progress-value" data-value="70"></div>
          </div>
        </li>
      </ul>
    </div>

    <!-- content: card details -->
    <div class="card-content content-slide" id="card-details">
      <h2>Details</h2>
      <ul>
        <li><p>Fullname: <span><%= person.data.name %> <%= person.data.prefix %> <%= person.data.surname %></span></p></li>
        <li><p>Nickname: <span><%= person.data.nickname %></span></p></li>
        <li><p>Github handle: <span><%= person.data.github_handle %></span></p></li>
        <li><p>Role: <span><%= person.data.role %></span></p></li>
        <li><p>Email: <span><%= person.data.email %></span></p></li>
        <li><p>Phone: <span><%= person.data.phone_number %></span></p></li>
        <li><p>Squad: <span><%= squad.data.name %></span></p></li>
      </ul>

      <a class="btn" href="<%= person.data.website %>"><i class="fa-brands fa-github"></i> Github Profile</a>
    </div>

    <!-- card nav -->
    <ul class="card-nav">
      <li data-page="0" class="active">About</li>
      <li data-page="1">Skills</li>
      <li data-page="2">Details</li>
    </ul>
  </section>
</main>

<%- include('./partials/foot') %>
