<%- include('./partials/head') %>

<main class="profile-card">
  <!-- title -->
  <h1>Profile Card</h1>
  <article class="card-content">
    <!-- left section -->
    <div class="left-section">
      <div class="img-container">
        <img src="./assets/Mohammed.png" alt="profile-img">
      </div>
    </div>
    <!-- right section -->
    <section class="right-section">
      <h2>Informatie</h2>
      <ul>
        <li><span>Name:</span> <%= data.name %></li>
        <li><span>Nickname:</span> <%= data.nickname %></li>
        <li><span>Github:</span> <%= data.github_handle %></li>
        <li><span>Email:</span> <%= data.email %></li>
        <li><span>Phone:</span> <%= data.phone_number %></li>
        <li><span>Squad:</span> <%= data.squad_id %></li>
      </ul>
    </section>
  </article>
</main>

<%- include('./partials/foot') %>
